body{
  background-color: #1167b1 !important;
}

.logo1{
  width: 5vw;
  height: 10vh;
  margin: 0vmax 0.5vmax;
 
}

.logo2{
  width: 11vw;
  height: 9vh;
  
}

.header{
  background-color:  #1167b1;
}

.headerr {
  box-sizing: border-box;
  /* padding: 1vmax; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 15px 10px -15px #111;    
  margin-bottom: 5px;
  
}

.b2 > a {
  width: 2vmax;
  height: 2vmax;
  margin: 1vmax 3vmax;
}

.b2 > a > svg {

  font-size: 2vmax;
  transition: all 0.5s;
  /* color: rgba(0, 0, 0, 0.445); */
  color: #abc4ff ;

}

.b2 > a > svg:hover {
  /* color: white; */
  transform: scale(1.2);
}

.usertext{
  padding: 10px;
  color: white;
  font-family: Verdana, Tahoma, sans-serif !important;
  font-size: medium;
}

.usertext:hover{
  text-decoration: underline;
  color: #c1d3fe !important;

}

@media screen and (max-width: 600px) {
  .b2 > a {
    width: 8vw;
    height: 8vw;
    margin: 2vw 8vw;
  }
  .b2 > a > svg {
    font-size: 8vw;
  }
}





